{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="form">
            <h2>Edit Category</h2><br>
            {{ form_start(form) }}
            {{ form_row(form.name, {'attr':{'class': 'form form-control'}}) }}
            <br>
            <input type="submit" class="btn btn-primary" value="Update">
            {{ form_end(form) }}
        </div>
        <a href="{{ path('app_category') }}">back to list</a>
    </div>
{% endblock %}